.hero{
    background:  linear-gradient(to bottom, rgba(0, 0, 0, 0.952), rgba(0, 0, 0, 0.932)), url('../../public/images/laptop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
    margin-top: -4rem;
   
    @include respond(big-tab){
        height: 60vh;
    }
    &__text-content{
        position: relative;
        top: 20%;
        left: 20%;
        @include respond(big-tab){
            top: 35%;
        }
        @include respond(mobile-screen){
            left: 10%
        }
    }
    &__intro{
        color: $grey;
        font-size: 1.2rem;
        text-transform: capitalize;
       
    }
    &__primary{
        color: $white;
        font-size: 2rem;
        margin-bottom: 1rem;
        
    }
    a{
        font-size: 1.2rem;
        font-style: italic;
        color: $brown;
        cursor: pointer;
    }
}