.footer{
    background: $black;
    padding: 4rem;
    &__copyright{
        text-align: center;
        font-size: 1rem;
        color: $cream;
        text-transform: capitalize;
        a{
            cursor: pointer;
            color: rgb(25, 65, 241);
            margin: .2rem;
        }
    }
    &__image{
        position: relative;
        top: .8rem;
        height:3rem;
    }
}