.about{
    display: flex;
    justify-content: space-evenly;
    @include respond(small-screen){
        flex-direction: column;
    }
    &__me{
        flex: 0 0 50%;
        padding: 3rem 3rem;
        background: linear-gradient(to bottom, rgba(88, 88, 88, 0.897), rgba(88, 88, 88, 0.884)), url('../../public/images/about.jpg');
        background-repeat: no-repeat;
        background-size: cover;
       
    }
    &__skills-list{
        background: $cream;
        padding: 3rem 3rem;
    }
    &__title{
        color: $brown;
        text-transform: capitalize;
        font-size: 1.2rem;
    }
    &__subtitle{
        color: $black;
        font-size: 2rem;
        text-transform: capitalize;
    }
    &__text{
        font-size: 1rem;
        &--white{
            color: $cream;
        }
    }
    &__skill{
        font-size: 1.3rem;
    }
    &__skill-icon{
        font-size: 3rem;
        background-image: linear-gradient(to right top, #cef464, #7affca, #87ffff, #d8fcff, #fdfdfd);
        border-radius: $border-radius;
        border: 1px solid transparent;
        box-shadow: $box-shadow;
        margin-left: 1.5rem;
        height: 3rem;
        width: 3rem;
        color: $black;
    }
    &__skills{
        display: flex;


    }
}

.icon-image{
    height: 2.5rem;
    margin: .2rem;
}